html,
body {
  padding: 19;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-image: url('../public/foto-perfil2.jpg'); 
  color:rgb(61, 28, 124);
  
}

a {
  color:red;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
